# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]
# Virtual environment
.venv/
venv/
env/
*.env

# Logs
*.log

# Ignore local development settings
*.sqlite3

# Ignore IDE or editor files
.vscode/
*.swp
*.swo
*.swn
*~
.idea/
*.egg-info/
